/* ==================================================================== */
/*                          Set CSS Variables                           */
/* ==================================================================== */

:root {
    --font-family-main: tewi, sans-serif;
    --color-main: #f4e8ba;
    --color-background: #282828;
    --color-link: #b8bb26;
    --color-header: #79740e;
    --color-shadow: #12120d;
}

/* ==================================================================== */
                            /* custom.css */
/* ==================================================================== */
/*      use this file to tweak your styles by overriding  others        */


/* Override some of pure.css's menu rules to get clym's */
/* FOR NOW NOT USED                                     */
body {
    font-family: var(--font-family-main); /* Use the font you want */
    color: var(--color-main); /* Use the color you want */
    background-color: var(--color-background); /* Use the background color you want */
}
main {
    line-height: 1.3em;
}
span {
    color: var(--color-header)
}
h1,h2,h3 {
    font-weight: bold;
    line-height: 1.8;
    margin: 0em;
    color: var(--color-header)
}
h1 {
    font-size: 175%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 125%;
}
h4 {
    padding-left: 1.2em;
}
p {
    text-align: justify;
}
a {
    color: var(--color-link);
    text-decoration: none;
}
a:active, a:hover, a:focus {
    color: var(--color-link);
    text-decoration: underline;
}
footer > p {
    display: block;
    text-align: center;
    font-size: 0.9em;
}
/* default style for 'information' */
article > header {
    font-weight: 900;
    font-size: 90%;
    text-align: center;
}
article > header > h1 > a {
    color: var(--color-header);
    text-decoration: none;
}
/* ====================================================== */
/* A basic style for          	                     overlay */
/* ====================================================== */
.pure-menu-link {
	color: var(--color-link);
}
.pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
    background-color: var(--color-shadow);
	text-decoration: underline;
}
/* ====================================================== */
/* A basic style for          	                     code */
/* ====================================================== */
.src, code {
    display:inline-block;
    padding: 1px 5px;
    border-radius: 3px;
    background-color: var(--color-main);
    font-weight: 700;
    font-size: 0.8em;
    color: var(--color-background);
}
pre > code, pre.src {
    display: block;
    height: auto;
    padding: 1em;
}
/* ====================================================== */
/* A basic style for                                posts */
/* ====================================================== */
article {
    display: block;
    float: left;
    clear:both;
    width: 100%;
}
article:after {
    display:block;
    height: 1em;
    content:"";
    clear:both;
}
article > header {
    display:block;
    margin-top: 2.5em;
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 5px 1px var(--color-shadow);
    box-shadow: 1px 1px 5px 1px var(--color-shadow);
    color: var(--color-main);
    background-color: var(--color-background);
}
article > header:after {
    display:block;
    width:100%;
    height: auto;
    content:"";
    clear:both;
}
article > header > .information {
    font-size: 80%;
}
article > header > h1 {
    float: left;
    margin: auto 1em;
}
article > header > p {
    float: left;
    margin-top: 5px;
}
article > header + h1 {
    margin-top: 1em;
}


@font-face {
    font-family:tewi;
    src:url("../fonts/tewi.ttf");
}
