<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Yael's Digital Grimoire" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://konata.gay" />
        <meta property="og:image" content="/img/banner.gif" />
        <meta property="og:description" content="Aspiring witch in training~" />
        <meta name="theme-color" content="#d8c4f1">
        <meta name="twitter:card" content="summary_large_image">
        <meta charset="UTF-8">
        <meta name="description" content="" />
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <title>Yael's Digital Grimoire ~ $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <script src="/js/neko.js"></script>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/contact.html">Contact</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </header>

        <main role="main" class="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
        </footer>
    </body>
</html>
